
PORT=3000
MONGO_URL=mongodb://mongo-user:123456@localhost:27017/?authSource=admin
MONGO_DB_NAME=mystore
JWT_SEED=a3f8c2e1b4d7f9a0e5c8b2d4f6a1e3c7b9d2f4a6e8c0b3d5f7a9e1c4b6d8f0a2e4c7b9d1f3a5e7c9b0d2f4a6
MAILER_SERVICE=gmail
MAILER_EMAIL=Youemail.real@gmail.com
MAILER_SECRET_KEY=
WEBSERVICE_URL=http://localhost:3000/api
SEND_ENAIL=false
REACT_NATIVE_API = "http://192.168.1.5:3000/api";